.product-list-breadcump {    
    margin-top: 6rem;
    padding: 37px 7rem;
    width: 100%;
    background-color: #fafafa;
    display: flex;

    a, span {        
        color: #929292;
        transition: .3s;
    }

    a:hover {
        transition: .3s;
        color: #080808;
    }
}

.product-list-container {  
    margin-top: 4rem;
    padding: 0 7rem;
    display: flex;

    .product-list-sidebar {
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
        width:fit-content;
        gap: 67px;
        width: 20%;
    
        div {
            display: flex;
            flex-direction: column;
            gap: 15px;
            h5 {
                text-transform: uppercase;
                font-size: 14px;
                letter-spacing: .1em;
                color: #080808;
            }

            /* price ranger */

            .range_container {
                display: flex;
                flex-direction: column;
                width: 100%;
            }
            .sliders_control {
                position: relative;
            }
            .form_control {
                position: relative;
                display: flex;
                flex-direction: row;
                font-size: 12px;
                color: #635a5a;
                justify-content: space-between;

                .form_control_container {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 6px;

                    div {
                        font-family: Montserrat,sans-serif;
                    }
                }
            }

            input[type=range] {
                &::-webkit-slider-thumb {
                    appearance: none;
                    pointer-events: all;
                    width: 10px;
                    height: 10px;
                    background-color: #000000;
                    border-radius: 50%;
                    //box-shadow: 0 0 0 1px #C6C6C6;
                    cursor: pointer;
                    // &:hover {
                    //     background: #f7f7f7;
                    // }
                    // &:active {
                    //     box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
                    //     box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
                    // }
                }
                &::-moz-range-thumb {
                    appearance: none;
                    pointer-events: all;
                    width: 10px;
                    height: 10px;
                    background-color: #000000;
                    border-radius: 50%;
                    box-shadow: 0 0 0 1px #C6C6C6;
                    cursor: pointer;
                }
            }
            input[type="number"] {
                color: #8a8383;
                width: fit-content;
                height: fit-content;
                font-size: 12px;
                border: none;
                font-family: Montserrat,sans-serif;
                outline: 0;
            }
            input[type=number] {
                appearance: textfield;

                &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
                    appearance: none;
                    margin: 0;
                }
            }
            input[type="range"] {
                -webkit-appearance: none;
                appearance: none;
                height: 3px;
                width: 100%;
                position: absolute;
                background-color: #C6C6C6;
                pointer-events: none;
            }
            #fromSlider {
                height: 0;
                z-index: 1;
            }


            /* /price ranger */

            ul {
                li {
                    a {
                        color: #929292;
                        font-size: 14px;
                        font-weight: 300;
                    }

                    a.chosen {
                        color: #080808;
                        font-weight: 500;
                    }

                    span {
                        color: #929292;
                    }
                }
            }           

        }
    }

    .product-lists {
        width: 75%;
        display: flex;
        padding: 1rem 0;
        height: fit-content;
        flex-direction: column;
        margin-left: 5%;

        .product-list-header {
            z-index: 5;
            height: fit-content;
            flex-direction: row-reverse;
            display: flex;
            width: 100%;
            margin-bottom: 30px;

            select {
                padding: 1rem 1rem;
                border: 1px solid #e1e1e1;
                font-size: 14px;
                color: #929292;
                appearance: none;
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
                background-repeat: no-repeat;
                background-position: right 1rem center;
                background-size: 1em;

                &:focus {
                    border: 1px solid #e1e1e1;
                    font-size: 14px;
                    color: #929292;
                }

                &focusring {
                    border: 1px solid #e1e1e1;
                    font-size: 14px;
                    color: #929292;
                }
            }
        }

        .product-list {
            width: 100%;
            /*******************************/
            /*Buradakıları silərsən, elementi görmək üçün olan hissədir*/
            background-color: #000000;
            padding: 10rem;
            /********************************/
        }
    }

}