@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Catamaran", sans-serif;
  text-decoration: none;
}

header {
  display: flex;
  background-color: #fff;
  z-index: 1;
  width: 100%;
  overflow: hidden;
  padding: 0rem 7rem;
  height: 96px;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}
header .desktop-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
header .desktop-nav .desktop-nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .desktop-nav .desktop-nav-item ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 12px;
}
header .desktop-nav .desktop-nav-item ul li:last-child {
  width: -moz-fit-content;
  width: fit-content;
}
header .desktop-nav .desktop-nav-item ul li:last-child i {
  font-size: 25px;
}
header .desktop-nav .desktop-left-nav ul li .mkd-login-opener:before, header .desktop-nav .desktop-right-nav ul li .mkd-login-opener:before {
  position: relative;
  display: inline-block;
  top: -1px;
  font-family: Linearicons-Free;
  content: "\e82a";
  font-size: 13px;
  line-height: 16px;
  margin-right: 5px;
  overflow: hidden;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header .desktop-nav .desktop-left-nav ul li a, header .desktop-nav .desktop-right-nav ul li a {
  color: #080808;
  transition: 0.5s;
  font-size: 12px;
  font-weight: 700;
}
header .desktop-nav .desktop-left-nav ul li a:hover, header .desktop-nav .desktop-right-nav ul li a:hover {
  color: #929292;
  transition: 0.5s;
}
header .desktop-nav .desktop-left-nav ul li a span, header .desktop-nav .desktop-right-nav ul li a span {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
header .desktop-nav .desktop-left-nav {
  width: 25%;
}
header .desktop-nav .desktop-right-nav {
  width: 22%;
}
header .desktop-nav .desktop-mid-nav {
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
}
header .desktop-nav .desktop-mid-nav .desktop-logo {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0rem 0rem;
}
header .desktop-nav .desktop-mid-nav .desktop-logo img {
  width: 106px;
  height: 20px;
}
header .desktop-sidebar-slider-menu {
  height: 100vh;
  width: 86vh;
  background-color: #111;
  position: fixed;
  right: -86vh;
  top: 0;
  padding: 5rem 5rem;
  transition: 0.5s;
  overflow-y: hidden;
}
header .desktop-sidebar-slider-menu * {
  text-align: center;
}
header .desktop-sidebar-slider-menu h6 {
  font-size: 12px;
  color: white;
  text-transform: uppercase;
}
header .desktop-sidebar-slider-menu span.close-icon {
  position: absolute;
  top: 38px;
  right: 38px;
  background: transparent;
  border: none;
}
header .desktop-sidebar-slider-menu span.close-icon:hover {
  cursor: pointer;
}
header .desktop-sidebar-slider-menu span.close-icon i {
  font-size: 24px;
  color: aliceblue;
}
header .desktop-sidebar-slider-menu .desktop-sidebar-slider-inner {
  width: 100%;
  height: 80%;
  overflow-y: hidden;
}
header .desktop-sidebar-slider-menu .desktop-sidebar-slider-inner .call-to-action {
  color: #929292;
  font-size: 24px;
  font-weight: 300;
  margin-top: 2rem;
  display: block;
}
header .desktop-sidebar-slider-menu .desktop-sidebar-slider-inner .social-images {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  align-items: center;
  justify-content: center;
  margin: 3rem auto;
  overflow-y: hidden;
}
header .desktop-sidebar-slider-menu .desktop-sidebar-slider-inner .social-images li {
  width: 23%;
  margin: -1px 0.8%;
}
header .desktop-sidebar-slider-menu .desktop-sidebar-slider-inner .social-images li .social-image {
  position: relative;
  display: block;
  overflow: hidden;
}
header .desktop-sidebar-slider-menu .desktop-sidebar-slider-inner .social-images li .social-image i {
  position: absolute;
  top: 60%;
  left: 50%;
  color: #fff;
  height: 30px;
  width: 30px;
  transform: translate(-50%, -50%);
  overflow: hidden;
  font-size: 27px;
  z-index: 9;
  visibility: hidden;
  opacity: 0.5;
}
header .desktop-sidebar-slider-menu .desktop-sidebar-slider-inner .social-images li .social-image:hover:after {
  opacity: 1;
}
header .desktop-sidebar-slider-menu .desktop-sidebar-slider-inner .social-images li .social-image:hover {
  color: #080808;
}
header .desktop-sidebar-slider-menu .desktop-sidebar-slider-inner .social-images li .social-image:hover i {
  transition: 0.3s;
  visibility: visible;
  top: 50%;
}
header .desktop-sidebar-slider-menu .desktop-sidebar-slider-inner .social-images li .social-image:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(8, 8, 8, 0.4);
  opacity: 0;
  transition: opacity 0.6s;
}
header .desktop-sidebar-slider-menu .desktop-sidebar-slider-inner .social-images li .social-image img {
  width: 100%;
}
header .desktop-sidebar-slider-menu .desktop-sidebar-slider-bottom {
  width: 100%;
  height: 20%;
  margin-top: 4rem;
  overflow-y: hidden;
}
header .desktop-sidebar-slider-menu .desktop-sidebar-slider-bottom .social-network-title {
  color: #afafaf;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  margin: 1rem 0rem;
}
header .desktop-sidebar-slider-menu .desktop-sidebar-slider-bottom .social-buttons .social-button {
  color: #ffffff;
  margin: 0rem 1rem;
  transition: 0.5s;
}
header .desktop-sidebar-slider-menu .desktop-sidebar-slider-bottom .social-buttons .social-button:hover {
  color: #afafaf;
  transition: 0.5s;
}

.slider-container {
  width: 100%;
}

.slider-body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  position: relative;
  display: flex;
  width: 85%;
  height: 80vh;
  box-shadow: 0 e 25px rgba(0, 0, 0, 0.8);
  margin: 6rem auto;
  overflow: visible;
}
.slider .circle-container {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-43px, -45px);
  width: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.slider .circle-container div {
  display: inherit;
  position: relative;
  z-index: 1;
}
.slider .circle-container div::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  height: 0;
  width: 100%;
  border-bottom: 2px solid #999;
}
.slider .circle-container .myCircle {
  border: 2.5px solid white;
  z-index: 1;
  transition: 0.4s;
  position: relative;
  color: #999;
}
.slider .carousel-inner-image-div {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.6s;
  background-color: #f3f3f3;
  display: flex;
  /* .slider-div {
       width: 50%;
   }*/
}
.slider .carousel-inner-image-div .text-div {
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 8rem;
  padding-bottom: 4rem;
}
.slider .carousel-inner-image-div .text-div h4 {
  text-transform: uppercase;
  color: #080808;
  font-size: 30px;
}
.slider .carousel-inner-image-div .text-div p {
  color: #999999;
  font-size: 16px;
}
.slider .carousel-inner-image-div .img-div {
  width: 60%;
  display: flex;
}
.slider .carousel-inner-image-div .img-div div {
  width: 100%;
}
.slider .carousel-inner-image-div .img-div div img {
  margin: auto;
  width: 60%;
}

#img1 {
  opacity: 1;
}

#img2 {
  opacity: 0;
}

#img3 {
  opacity: 0;
}

.fas {
  cursor: pointer;
  position: absolute;
  color: #7e7e7e;
  z-index: 1;
  top: 50%;
  transform: scale(2.6);
  transition: 0.4s;
}
.fas:hover {
  color: #ffffff;
}

.fa-chevron-left {
  left: 30px;
}

.fa-chevron-right {
  right: 30px;
}

.cart-title-img {
  margin-top: 6rem;
  padding: 7.5rem 0rem;
  width: 100%;
  display: flex;
  background-image: url(../img/faq-title-img.jpg);
  justify-content: center;
  align-items: center;
  background-position: center 0;
}
.cart-title-img h3 {
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 50px;
}

.cart-body {
  width: 100%;
  margin: 5rem 0rem;
  display: flex;
  padding: 0rem 7rem;
}
.cart-body .added-items {
  width: 70%;
}
.cart-body .added-items h3 {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 2px;
  color: #080808;
}
.cart-body .added-items .added-product {
  width: 92%;
  padding: 2rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e1e1e1;
}
.cart-body .added-items .added-product .added-products-side-container {
  display: flex;
  align-items: center;
  width: 50%;
}
.cart-body .added-items .added-product .added-products-side-container a {
  color: #929292;
  font-size: 18px;
}
.cart-body .added-items .added-product .added-products-side-container .added-product-img {
  width: 108px;
  padding: 0 5px;
}
.cart-body .added-items .added-product .added-products-side-container .added-product-name {
  text-transform: uppercase;
  margin: 20px 0px 20px 20px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #080808;
}
.cart-body .added-items .added-product .added-products-side-container .added-product-price {
  font-size: 14px;
  font-family: Montserrat, sans-serif;
  margin: 20px 0px 20px 20px;
  color: #929292;
}
.cart-body .added-items .added-product .added-products-side-container .quantity {
  display: flex;
  align-items: center;
  border: 1px solid #e1e1e1;
  line-height: 50px;
  height: 50px;
  padding: 0 10px 0 16px;
}
.cart-body .added-items .added-product .added-products-side-container .quantity .quantity-title {
  color: #929292;
  font-size: 13px;
  margin-right: 50px;
}
.cart-body .added-items .added-product .added-products-side-container .quantity .cart-arrow {
  color: #929292;
  cursor: pointer;
  transition: color 0.15s ease-in-out;
}
.cart-body .added-items .added-product .added-products-side-container .quantity .cart-arrow:hover {
  color: #080808;
  transition: color 0.15s ease-in-out;
}
.cart-body .added-items .added-product .added-products-side-container .quantity input {
  display: inline-block;
  vertical-align: middle;
  color: #929292;
  background-color: transparent;
  border: 0;
  text-align: center;
  box-sizing: border-box;
  font-size: 16px;
  position: relative;
  width: 27px;
  border: none;
  font-family: Montserrat, sans-serif;
}
.cart-body .added-items .added-product .added-products-side-container .quantity input:hover, .cart-body .added-items .added-product .added-products-side-container .quantity input:focus-visible {
  outline: 0;
}
.cart-body .added-items .added-product .added-products-side-container .added-product-price-subtotal {
  line-height: 25px;
  color: #929292;
  font-size: 14px;
  font-weight: 600;
  font-family: Montserrat, sans-serif;
}
.cart-body .added-items .added-product .added-products-side-container-left {
  display: flex;
}
.cart-body .added-items .added-product .added-products-side-container-right {
  justify-content: space-between;
}
.cart-body .right-sidebar {
  background-color: #fafafa;
  padding: 35px;
  width: 30%;
  height: -moz-fit-content;
  height: fit-content;
}
.cart-body .right-sidebar h3 {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 3.7px;
}
.cart-body .right-sidebar .cart-subtotal {
  width: 100%;
}
.cart-body .right-sidebar .cart-subtotal tbody {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.cart-body .right-sidebar .cart-subtotal tbody tr {
  width: 45%;
  display: flex;
  flex-direction: column;
}
.cart-body .right-sidebar .cart-subtotal tbody tr td {
  font-size: 14px;
  font-family: Montserrat, sans-serif;
  margin-bottom: 17px;
}
.cart-body .right-sidebar .cart-subtotal tbody tr .table-title {
  color: #080808;
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
}
.cart-body .right-sidebar .cart-subtotal tbody tr .table-body {
  color: #929292;
}

.empty-cart {
  width: 100%;
  margin: 5rem 0rem 0rem 0rem;
  padding: 1rem;
  display: flex;
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.empty-cart p {
  text-align: center;
}
.empty-cart .empty-cart-title {
  color: #080808;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
  width: 87%;
  padding: 15px 30px;
  border: 1px solid #e1e1e1;
  margin: 0 0 30px;
}
.empty-cart .empty-cart-description {
  font-size: 20px;
  padding: 0 28%;
  color: #929292;
  font-weight: 300;
  line-height: 32px;
}
.empty-cart .return-shop {
  margin: 47px 0 133px;
  padding: 23px 43px;
  text-transform: uppercase;
  border: none;
  color: #fff;
  background-color: #080808;
  cursor: pointer;
  font-weight: 700;
  transition: 0.2s;
}
.empty-cart .return-shop:hover {
  color: #fff;
  background-color: #313131;
  transition: 0.2s;
}

footer {
  margin-top: 1rem;
  padding-top: 4rem;
  border-top: 1px solid rgba(206, 206, 206, 0.2);
  width: 100%;
  background-color: #ffffff;
}
footer .footer-section-container {
  width: 100%;
  display: flex;
  padding: 0rem 7rem;
  margin-bottom: 4rem;
}
footer .footer-section-container .footer-desktop-section {
  width: 25%;
}
footer .footer-section-container .footer-desktop-section h4 {
  font-weight: 600;
  color: #080808;
  text-transform: uppercase;
  margin-bottom: 1rem;
  letter-spacing: 0.1em;
}
footer .footer-section-container .footer-desktop-section ul {
  width: -moz-fit-content;
  width: fit-content;
}
footer .footer-section-container .footer-desktop-section ul li {
  width: -moz-fit-content;
  width: fit-content;
}
footer .footer-section-container .footer-desktop-section ul li a {
  width: -moz-fit-content;
  width: fit-content;
  color: #929292;
  transition: 0.25s;
  font-size: 14px;
}
footer .footer-section-container .footer-desktop-section ul li a:hover {
  color: #b5b5b5;
  padding-left: 17px;
  left: 0;
}
footer .footer-section-container .footer-desktop-section ul li a:hover::after {
  left: 0;
  opacity: 0.3;
}
footer .footer-section-container .footer-desktop-section ul li a::after {
  content: "\e87a";
  font-family: Linearicons-Free;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-size: 13px;
  left: -15px;
  line-height: 13px;
  position: absolute;
  top: 4px;
  vertical-align: middle;
}
footer .copyright-section-container {
  display: flex;
  width: 100%;
  padding: 1rem 7rem;
  border-top: 1px solid rgba(206, 206, 206, 0.2);
  justify-content: space-between;
}
footer .copyright-section-container .footer-side-section {
  height: 1rem;
  padding: 1rem 0rem;
  font-size: 12px;
  display: flex;
  align-items: center;
}
footer .copyright-section-container .footer-left-side a {
  color: #929292;
}
footer .copyright-section-container .footer-right-side ul {
  display: flex;
}
footer .copyright-section-container .footer-right-side ul li {
  margin-left: 1rem;
}
footer .copyright-section-container .footer-right-side ul li a {
  color: #080808;
  transition: 0.2s;
}
footer .copyright-section-container .footer-right-side ul li a:hover {
  color: #929292;
  transition: 0.2s;
}
footer #scrollUpButton {
  display: none;
  cursor: pointer;
  position: fixed;
  width: 39px;
  height: 39px;
  line-height: 40px;
  font-size: 15px;
  text-align: center;
  color: #fff;
  background-color: #080808;
  overflow: hidden;
  bottom: 95px;
  right: 25px;
  z-index: 99;
  border: none;
  outline: none;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
footer #scrollUpButton:hover {
  background-color: #313131;
  border: 1px solid #313131;
}/*# sourceMappingURL=style.css.map */